*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-color: black;
    color: white;
}
h1{
    padding: 94px;
    text-align: center;
    background-image: url(../img/1688166809417.jpg);
    background-size: 100%;
    background-position-y: 50%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
section{
    width: 75%;
    margin: auto;
    padding: 12px 0;
}
h2, p, label{
    padding: 12px;
}
.sistemas{
    background-image: url(../img/20200212225011898612u.jpg);
    background-size: 100%;
    background-position-y: 25%;
}
.apresentacao{
    margin-top: 54px;
    text-align: justify;
    background-color: rgb(77, 77, 77);
    background-image: url(../img/1688166809427.jpg);
    background-size: 100%;
    background-position-y: 25%;
}
.box{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 24px 0;
}
.box div{
    width: 33.3%;
    height: 140px;
    background-color: rgb(184, 184, 184);
    border-radius: 12px;
    color: black;
    text-align: center;
    font-size: 24px;
}
h4{
    padding: 10px 0;
}
.nome-sist{
    font-size: 18px;
    text-align: left;
    position: relative;
    top: -38px;
    color: white;
}
