*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Mono', monospace;
}
body{
    background-color: black;
    color: white;
}
h1{
    padding: 54px;
    text-align: center;
    color: #84ff32;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}
h2{
    color: #84ff32;
}
section{
    width: 75%;
    margin: auto;
    padding: 12px 0;
}
h2, p, label{
    padding: 12px;
}
.apresentacao{
    margin-top: 54px;
    text-align: justify;
    padding: 24px;
    border: 1px solid #84ff32;
    border-radius: 24px 0 24px 0;
}
.sistemas{
    margin-top: 32px;
    padding: 24px;
    border: 1px solid #84ff32;
    border-radius: 0 24px 0 24px;
}
.box{
    width: 50%;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding: 24px 0;
}
.box div{
    width: 33.3%;
    height: 140px;
    background-color: rgb(17, 17, 17);
    border-radius: 12px;
    color: white;
    text-align: center;
    font-size: 24px;
}
h4{
    padding: 10px 0;
}
.nome-sist{
    font-size: 18px;
    text-align: left;
    position: relative;
    top: -38px;
    color: white;
}
#decimal, #binario, #decimalHex, #hexadecimalDec{
    background-color: rgb(204, 204, 204);
    color: black;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 6px 0 0 6px;
}
button{
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 0 6px 6px 0;
    background-color: #9c9c9c;
    translate: -10px;
    transition: all 0.2s ease-in-out;
}
button:hover{
    background-color: #b3b3b3;
    cursor: pointer;
}
footer{
    text-align: center;
    font-size: 12px;
    padding: 18px;
}
